<mat-card class="center-card">
    <mat-card-header>
      <mat-card-title>Formulário de Lançamento Não Avulso</mat-card-title>
    </mat-card-header>
  
    <mat-card-content class="form-card-content">
      <form #f="ngForm" (ngSubmit)="f.form.valid " novalidate>
        <mat-form-field class="form-group">
          <mat-label for="descricao">Descrição</mat-label>
          <input matInput type="text" [(ngModel)]="lancamento.descricao" id="descricao" name="descricao" #descricao="ngModel"
            required placeholder="Digite a descrição">
          <mat-error *ngIf="f.submitted && descricao.invalid">Descrição é obrigatória</mat-error>
        </mat-form-field>
  
     
          <mat-label for="data"></mat-label>
          <input matInput type="date" [(ngModel)]="lancamento.data" id="data" name="data" #data="ngModel" required>
          <mat-error *ngIf="f.submitted && data.invalid">Data é obrigatória</mat-error>
      
  
        <mat-form-field class="form-group">
          <mat-label for="valor">Valor</mat-label>
          <input matInput type="number" [(ngModel)]="lancamento.valor" id="valor" name="valor" #valor="ngModel"
            required placeholder="Digite o valor">
          <mat-error *ngIf="f.submitted && valor.invalid">Valor é obrigatório</mat-error>
        </mat-form-field>
  
        <button (click)="criaLancamento()" type="submit" mat-raised-button color="primary" class="submit-button">Salvar</button> 
      </form>
    </mat-card-content>
  </mat-card>